* {
  margin: 0;
  padding: 0;
}
/* delete arrows inside input */
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

section {
  max-width: 350px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px;
  background-color: rgb(199, 240, 240);
  border: 3px solid rgb(90, 121, 121);
  border-radius: 10px;
  box-shadow: inset 0px 0px 6px rgb(90, 121, 121);
  color: rgb(22, 51, 56);
}
.curr {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(22, 51, 56);
  flex-wrap: nowrap;
}
.header {
  display: flex;
  flex-direction: column;
}

#js-input-field,
#js-input-value {
  width: 60px;
  padding: 5px;
  margin: 0 5px 0 5px;
  line-height: 20px;
  color: rgb(22, 51, 56);
  background-color: rgb(234, 248, 248);
  border-radius: 3px;
  border: 2px solid rgb(90, 121, 121);
  font-size: 18px;
  font-weight: bold;
  box-shadow: inset 0px 0px 6px rgb(90, 121, 121);
  outline: none;
}
.curr-color {
  color: #077573;
  text-shadow: 0px 0px 1px rgb(121, 190, 190);
}
.curr span {
  vertical-align: text-top;
  text-align: center;
}

.curr-price-header,
.curr-calc-header {
  width: 280px;
}
.result {
  width: 70px;
  text-align: end;
}
